html page (json flow)
[
    {
        "id": "d74f3720.5d0a98",
        "type": "tab",
        "label": "Hello world",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c60cef84.c535e",
        "type": "http in",
        "z": "d74f3720.5d0a98",
        "name": "",
        "url": "/asdf",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 100,
        "wires": [
            [
                "fff39950.764d68"
            ]
        ]
    },
    {
        "id": "91c47d97.f330a",
        "type": "http response",
        "z": "d74f3720.5d0a98",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 430,
        "y": 100,
        "wires": []
    },
    {
        "id": "fff39950.764d68",
        "type": "template",
        "z": "d74f3720.5d0a98",
        "name": "HTML",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html>\n    <title>FORM</title>\n    <head>\n        <link rel=\"stylesheet\" href=\"https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/solar/bootstrap.min.css\" integrity=\"sha384-iDw+DjLp94cdk+ODAgTY4IZ6d9aaRpG9KHr168TPxrfQ9wv/DTVC+cWyojoxjHBT\" crossorigin=\"anonymous\">\n    </head>\n<body>\n\n<form>\n  <div class=\"form-row\">\n    <div class=\"col-md-4 mb-3\">\n      <label for=\"validationServer01\">First name</label>\n      <input type=\"text\" class=\"form-control is-valid\" id=\"validationServer01\" placeholder=\"First name\" value=\"Mark\" required>\n      <div class=\"valid-feedback\">\n        Looks good!\n      </div>\n    </div>\n    <div class=\"col-md-4 mb-3\">\n      <label for=\"validationServer02\">Last name</label>\n      <input type=\"text\" class=\"form-control is-valid\" id=\"validationServer02\" placeholder=\"Last name\" value=\"Otto\" required>\n      <div class=\"valid-feedback\">\n        Looks good!\n      </div>\n    </div>\n    <div class=\"col-md-4 mb-3\">\n      <label for=\"validationServerUsername\">Username</label>\n      <div class=\"input-group\">\n        <div class=\"input-group-prepend\">\n          <span class=\"input-group-text\" id=\"inputGroupPrepend3\">@</span>\n        </div>\n        <input type=\"text\" class=\"form-control is-invalid\" id=\"validationServerUsername\" placeholder=\"Username\" aria-describedby=\"inputGroupPrepend3\" required>\n        <div class=\"invalid-feedback\">\n          Please choose a username.\n        </div>\n      </div>\n    </div>\n  </div>\n  <div class=\"form-row\">\n    <div class=\"col-md-6 mb-3\">\n      <label for=\"validationServer03\">City</label>\n      <input type=\"text\" class=\"form-control is-invalid\" id=\"validationServer03\" placeholder=\"City\" required>\n      <div class=\"invalid-feedback\">\n        Please provide a valid city.\n      </div>\n    </div>\n    <div class=\"col-md-3 mb-3\">\n      <label for=\"validationServer04\">State</label>\n      <input type=\"text\" class=\"form-control is-invalid\" id=\"validationServer04\" placeholder=\"State\" required>\n      <div class=\"invalid-feedback\">\n        Please provide a valid state.\n      </div>\n    </div>\n    <div class=\"col-md-3 mb-3\">\n      <label for=\"validationServer05\">Zip</label>\n      <input type=\"text\" class=\"form-control is-invalid\" id=\"validationServer05\" placeholder=\"Zip\" required>\n      <div class=\"invalid-feedback\">\n        Please provide a valid zip.\n      </div>\n    </div>\n  </div>\n  <div class=\"form-group\">\n    <div class=\"form-check\">\n      <input class=\"form-check-input is-invalid\" type=\"checkbox\" value=\"\" id=\"invalidCheck3\" required>\n      <label class=\"form-check-label\" for=\"invalidCheck3\">\n        Agree to terms and conditions\n      </label>\n      <div class=\"invalid-feedback\">\n        You must agree before submitting.\n      </div>\n    </div>\n  </div>\n  <button class=\"btn btn-primary\" type=\"submit\">Submit form</button>\n</form>\n\n</body>\n</html>",
        "output": "str",
        "x": 270,
        "y": 100,
        "wires": [
            [
                "91c47d97.f330a"
            ]
        ]
    }
]
